# copier ce fichier en .env.local et remplir avec vos valeurs supabase
# ces valeurs se trouvent dans : supabase > project settings > api
VITE_SUPABASE_URL=https://xxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJ...
